name: Generate terraform docs
on:
  push:
    branches:
      - master
      - staging

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Verify terraform docs are up to date
      uses: terraform-docs/gh-actions@main
      with:
        working-dir: .
        output-file: docs/terraform.md
        output-method: inject
        config-file: ".terraform-docs.yml"
        fail-on-diff: true
